.map-container {
  display: flex;
  position: relative;
  height: 100vh;
}

.mapboxgl-control-container-absolute {
  position: absolute;
}

.ruler-marker-container {
  background-color: #2e67ff;
  color: #fff;
  background-size: cover;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}