html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-container {
  height: 100vh;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.map-container .mapboxgl-control-container-relative {
  z-index: 1;
  position: relative;
}

.ruler-marker-container {
  background-color: #2e67ff;
  color: #fff;
  background-size: cover;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}